{{define "register"}}

<div class="container">
	<div class="page-header">
		<h1>Page Header</h1>
	</div>
	<form method="post" action="/register">
		<div class="form-group">
			<label for="username">Username</label>
			<div><input type="text" class="form-control" id="username" name="username" maxlength="48" placeholder="Username" value="username" /></div>
		</div>
		
		<div class="form-group">
			<label for="email">Email</label>
			<div><input type="email" class="form-control" id="email" name="email" maxlength="48" placeholder="Email" value="user@email.com" /></div>
		</div>
		<div class="form-group">
			<label for="password">Password</label><div>
			<input type="password" class="form-control" id="password" name="password" maxlength="48" placeholder="Password" value="password" />	</div>
		</div>
		<div class="form-group">
			<label for="password_verify">Verify Password</label>
			<div><input type="password" class="form-control" id="password_verify" name="password_verify" maxlength="48" placeholder="Verify Password" value="password" /></div>
		</div>
		
		<input type="submit" value="Create Account" class="btn btn-primary" />
		
		<input type="hidden" name="token" value="token">
	</form>
	
</div>

{{end}}